# Ignore files that do not have an extension (typically executable files)
*
!*/
!*.*

# Rust
/target/
Cargo.lock
**/*.rs.bk

# Logs
*.log

# Source code text file bundles
txtcat_*.txt

# Vim
*.swp
*.swo
*~

# Temporary files
*.tmp
*.temp
*.bak
.commit_msg.txt

# OS specific
.DS_Store
.directory
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
